# ESP-IDF build artefacts
firmware/build/
firmware/sdkconfig
firmware/sdkconfig.old
firmware/dependencies.lock

# Flutter
app/lora_text_app/
app/src/.dart_tool/
app/src/.flutter-plugins
app/src/.flutter-plugins-dependencies
app/src/pubspec.lock

# IDE
.vscode/
*.pyc
__pycache__/
